services:
  db:
    ports:
      - "5432:5432"

  api:
    environment:
      FLASK_ENV: development
      LOG_LEVEL: DEBUG
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: gunicorn -w 2 -b 0.0.0.0:8000 --reload wsgi:app

  nginx:
    ports:
      - "80:80"
      - "443:443"
